/* line 5, ../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a,
.vcard .tel, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
a img, .vcard .tel img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../compass/sass/_type.scss */
h1, h2, h3, h4, h5, h6, blockquote p, .intro {
  font-weight: 600;
}

/* line 8, ../compass/sass/_type.scss */
::selection {
  background: #ffa300;
  color: whitesmoke;
}

/* line 9, ../compass/sass/_type.scss */
::-moz-selection {
  background: #ffa300;
  color: whitesmoke;
}

/* line 11, ../compass/sass/_type.scss */
p {
  font-size: 1em;
  line-height: 1.75em;
  margin-bottom: 1em;
}

/* line 17, ../compass/sass/_type.scss */
a, .vcard .tel {
  color: #5b4472;
  text-decoration: none;
}
/* line 20, ../compass/sass/_type.scss */
a:hover, .vcard .tel:hover {
  color: #ffa300;
}

/* line 25, ../compass/sass/_type.scss */
em {
  font-style: italic;
}

/* line 26, ../compass/sass/_type.scss */
strong, b {
  font-weight: bold;
}

/* line 28, ../compass/sass/_type.scss */
.font-secondary {
  font-family: "sorts-mill-goudy-1", "sorts-mill-goudy-2", "Garamond", serif;
}

/* line 32, ../compass/sass/_type.scss */
.smallcaps, cite, time, .caption, .byline, .field-container label, .options legend, .options label, figure figcaption, .breadcrumbs li {
  text-transform: uppercase;
  font-size: 0.8em;
}

/* line 37, ../compass/sass/_type.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
  line-height: 1.4;
}
/* line 41, ../compass/sass/_type.scss */
h1.subheading, h2.subheading, h3.subheading, h4.subheading, h5.subheading, h6.subheading {
  font-family: "sorts-mill-goudy-1", "sorts-mill-goudy-2", "Garamond", serif;
  font-weight: normal;
  text-transform: uppercase;
}
/* line 46, ../compass/sass/_type.scss */
h1 a, h1 .vcard .tel, .vcard h1 .tel, h2 a, h2 .vcard .tel, .vcard h2 .tel, h3 a, h3 .vcard .tel, .vcard h3 .tel, h4 a, h4 .vcard .tel, .vcard h4 .tel, h5 a, h5 .vcard .tel, .vcard h5 .tel, h6 a, h6 .vcard .tel, .vcard h6 .tel {
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: inherit;
  text-decoration: none;
}
/* line 50, ../compass/sass/_type.scss */
h1 a:hover, h1 .vcard .tel:hover, .vcard h1 .tel:hover, h2 a:hover, h2 .vcard .tel:hover, .vcard h2 .tel:hover, h3 a:hover, h3 .vcard .tel:hover, .vcard h3 .tel:hover, h4 a:hover, h4 .vcard .tel:hover, .vcard h4 .tel:hover, h5 a:hover, h5 .vcard .tel:hover, .vcard h5 .tel:hover, h6 a:hover, h6 .vcard .tel:hover, .vcard h6 .tel:hover {
  color: #ffa300;
}

/* line 54, ../compass/sass/_type.scss */
h1 {
  font-size: 3em;
  color: #5b4472;
}

/* line 59, ../compass/sass/_type.scss */
h2 {
  font-size: 2.25em;
  color: #5b4472;
}

/* line 64, ../compass/sass/_type.scss */
h3 {
  font-size: 1.755em;
  color: #82b2a4;
}

/* line 69, ../compass/sass/_type.scss */
h4 {
  font-size: 1.5em;
  color: #b5554c;
}

/* line 74, ../compass/sass/_type.scss */
h5 {
  font-size: 1.245em;
  color: #e0695e;
}

/* line 79, ../compass/sass/_type.scss */
h6 {
  font-size: 1.125em;
  color: #f3ba40;
}

/* line 84, ../compass/sass/_type.scss */
blockquote {
  margin-bottom: 2em;
  padding-left: 25%;
}
/* line 87, ../compass/sass/_type.scss */
blockquote p {
  color: #5b4472;
  font-style: italic;
  font-size: 1.275em;
  margin-bottom: 0.5em;
}
/* line 94, ../compass/sass/_type.scss */
blockquote cite {
  color: #916caf;
}

/* line 99, ../compass/sass/_type.scss */
del {
  opacity: 0.5;
}

/* line 101, ../compass/sass/_type.scss */
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: 0em;
}

/* line 107, ../compass/sass/_type.scss */
sub {
  top: 0.4em;
}

/* line 109, ../compass/sass/_type.scss */
small {
  font-size: 80%;
}

/* line 111, ../compass/sass/_type.scss */
abbr {
  border-bottom: 1px dotted #222222;
}

/* line 113, ../compass/sass/_type.scss */
cite, time, .caption {
  text-transform: uppercase;
}

/* line 118, ../compass/sass/_type.scss */
q, dfn, var {
  font-style: italic;
}

/* line 120, ../compass/sass/_type.scss */
mark {
  background: #f3ba40;
  padding: 0 0.25em;
}

/* line 122, ../compass/sass/_type.scss */
kbd, code, samp {
  font-family: monospace;
  font-size: 1.25em;
}

/* line 127, ../compass/sass/_type.scss */
pre {
  font-family: monospace;
  line-height: 1.6;
}

/* line 132, ../compass/sass/_type.scss */
p.error, p.valid, p.warning, p.information {
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  color: white;
  text-align: center;
}

/* line 138, ../compass/sass/_type.scss */
p.error {
  background: #b5554c;
}

/* line 139, ../compass/sass/_type.scss */
p.valid {
  background: #82b2a4;
}

/* line 140, ../compass/sass/_type.scss */
p.warning {
  background: #f3ba40;
}

/* line 141, ../compass/sass/_type.scss */
p.information {
  background: #916caf;
}

/* line 143, ../compass/sass/_type.scss */
hr, .news-teaser {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #e1e1e1;
}

/* line 151, ../compass/sass/_type.scss */
.text ul, .text ol {
  line-height: 1.4em;
}
/* line 153, ../compass/sass/_type.scss */
.text ul li, .text ol li {
  margin-left: 5%;
  margin-bottom: 0.5em;
}
/* line 156, ../compass/sass/_type.scss */
.text ul li ul, .text ul li ol, .text ol li ul, .text ol li ol {
  margin-top: 0.5em;
}
/* line 158, ../compass/sass/_type.scss */
.text ul li ul li, .text ul li ol li, .text ol li ul li, .text ol li ol li {
  margin-left: 5%;
}
/* line 162, ../compass/sass/_type.scss */
.text ul li {
  list-style-type: disc;
}
/* line 163, ../compass/sass/_type.scss */
.text ol li {
  list-style-type: decimal;
}

/* line 166, ../compass/sass/_type.scss */
dl {
  line-height: 1.4em;
}
/* line 169, ../compass/sass/_type.scss */
dl dd {
  font-style: italic;
  margin-bottom: 0.5em;
  margin-left: 5%;
}

/* line 182, ../compass/sass/_type.scss */
.byline time {
  font-size: 1em;
}

/* line 185, ../compass/sass/_type.scss */
.intro {
  font-size: 1.4em;
}

/* line 2, ../compass/sass/_mixins.scss */
img {
  max-width: 100%;
}

@media (max-width: 31.25em) {
  /* line 17, ../compass/sass/_mixins.scss */
  .hide-small {
    display: none;
  }
}

@media (min-width: 31.25em) and (max-width: 50em) {
  /* line 21, ../compass/sass/_mixins.scss */
  .hide-med {
    display: none;
  }
}

@media (min-width: 50em) {
  /* line 25, ../compass/sass/_mixins.scss */
  .hide-large {
    display: none;
  }
}

/* line 1, ../compass/sass/_grid.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../compass/sass/_grid.scss */
.container {
  width: 90%;
  max-width: 75em;
  margin: 0 auto;
  position: relative;
}
/* line 6, ../compass/sass/_mixins.scss */
.container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
@media (min-width: 31.25em) {
  /* line 14, ../compass/sass/_grid.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 50em) {
  /* line 14, ../compass/sass/_grid.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 75em) {
  /* line 14, ../compass/sass/_grid.scss */
  .container {
    width: 1170px;
  }
}

/* line 34, ../compass/sass/_grid.scss */
.container-fluid {
  width: 90%;
  max-width: 75em;
  margin: 0 auto;
  position: relative;
}
/* line 6, ../compass/sass/_mixins.scss */
.container-fluid:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 43, ../compass/sass/_grid.scss */
.row, .block-thumb, .home-section, .category-navigation {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 6, ../compass/sass/_mixins.scss */
.row:after, .block-thumb:after, .home-section:after, .category-navigation:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 174, ../compass/sass/_mixins.scss */
.col-xs-12, .block-thumb .b-thumb, .block-thumb .b-text, .main aside .section, .col-sm-12, .col-md-12, .main aside .section, .col-lg-12, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-9, .col-sm-9, .col-md-9, .main article, .col-lg-9, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-7, .col-sm-7, .col-md-7, .home-section .image, .col-lg-7, .main article, .col-xs-6, .category-navigation .section-link, .col-sm-6, .block-thumb .b-thumb, .block-thumb .b-text, .main aside .section, .col-md-6, .col-lg-6, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-4, .col-sm-4, .col-md-4, .home-section .text, .category-navigation .section-link, footer[role=banner] .section:nth-child(3), .col-lg-4, .col-xs-3, .col-sm-3, .col-md-3, .main aside, footer[role=banner] .section:nth-child(1), footer[role=banner] .section:nth-child(2), .col-lg-3, .main aside, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 193, ../compass/sass/_mixins.scss */
.col-xs-12, .block-thumb .b-thumb, .block-thumb .b-text, .main aside .section, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6, .category-navigation .section-link, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1 {
  float: left;
}

/* line 201, ../compass/sass/_mixins.scss */
.col-xs-1 {
  width: 8.33333%;
}

/* line 201, ../compass/sass/_mixins.scss */
.col-xs-2 {
  width: 16.66667%;
}

/* line 201, ../compass/sass/_mixins.scss */
.col-xs-3 {
  width: 25%;
}

/* line 201, ../compass/sass/_mixins.scss */
.col-xs-4 {
  width: 33.33333%;
}

/* line 201, ../compass/sass/_mixins.scss */
.col-xs-5 {
  width: 41.66667%;
}

/* line 201, ../compass/sass/_mixins.scss */
.col-xs-6, .category-navigation .section-link {
  width: 50%;
}

/* line 201, ../compass/sass/_mixins.scss */
.col-xs-7 {
  width: 58.33333%;
}

/* line 201, ../compass/sass/_mixins.scss */
.col-xs-8 {
  width: 66.66667%;
}

/* line 201, ../compass/sass/_mixins.scss */
.col-xs-9 {
  width: 75%;
}

/* line 201, ../compass/sass/_mixins.scss */
.col-xs-10 {
  width: 83.33333%;
}

/* line 201, ../compass/sass/_mixins.scss */
.col-xs-11 {
  width: 91.66667%;
}

/* line 201, ../compass/sass/_mixins.scss */
.col-xs-12, .block-thumb .b-thumb, .block-thumb .b-text, .main aside .section {
  width: 100%;
}

/* line 211, ../compass/sass/_mixins.scss */
.col-xs-pull-0 {
  right: 0%;
}

/* line 211, ../compass/sass/_mixins.scss */
.col-xs-pull-1 {
  right: 8.33333%;
}

/* line 211, ../compass/sass/_mixins.scss */
.col-xs-pull-2 {
  right: 16.66667%;
}

/* line 211, ../compass/sass/_mixins.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 211, ../compass/sass/_mixins.scss */
.col-xs-pull-4 {
  right: 33.33333%;
}

/* line 211, ../compass/sass/_mixins.scss */
.col-xs-pull-5 {
  right: 41.66667%;
}

/* line 211, ../compass/sass/_mixins.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 211, ../compass/sass/_mixins.scss */
.col-xs-pull-7 {
  right: 58.33333%;
}

/* line 211, ../compass/sass/_mixins.scss */
.col-xs-pull-8 {
  right: 66.66667%;
}

/* line 211, ../compass/sass/_mixins.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 211, ../compass/sass/_mixins.scss */
.col-xs-pull-10 {
  right: 83.33333%;
}

/* line 211, ../compass/sass/_mixins.scss */
.col-xs-pull-11 {
  right: 91.66667%;
}

/* line 211, ../compass/sass/_mixins.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 206, ../compass/sass/_mixins.scss */
.col-xs-push-0 {
  left: 0%;
}

/* line 206, ../compass/sass/_mixins.scss */
.col-xs-push-1 {
  left: 8.33333%;
}

/* line 206, ../compass/sass/_mixins.scss */
.col-xs-push-2 {
  left: 16.66667%;
}

/* line 206, ../compass/sass/_mixins.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 206, ../compass/sass/_mixins.scss */
.col-xs-push-4 {
  left: 33.33333%;
}

/* line 206, ../compass/sass/_mixins.scss */
.col-xs-push-5 {
  left: 41.66667%;
}

/* line 206, ../compass/sass/_mixins.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 206, ../compass/sass/_mixins.scss */
.col-xs-push-7 {
  left: 58.33333%;
}

/* line 206, ../compass/sass/_mixins.scss */
.col-xs-push-8 {
  left: 66.66667%;
}

/* line 206, ../compass/sass/_mixins.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 206, ../compass/sass/_mixins.scss */
.col-xs-push-10 {
  left: 83.33333%;
}

/* line 206, ../compass/sass/_mixins.scss */
.col-xs-push-11 {
  left: 91.66667%;
}

/* line 206, ../compass/sass/_mixins.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 216, ../compass/sass/_mixins.scss */
.col-xs-offset-0 {
  margin-left: 0%;
}

/* line 216, ../compass/sass/_mixins.scss */
.col-xs-offset-1 {
  margin-left: 8.33333%;
}

/* line 216, ../compass/sass/_mixins.scss */
.col-xs-offset-2 {
  margin-left: 16.66667%;
}

/* line 216, ../compass/sass/_mixins.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 216, ../compass/sass/_mixins.scss */
.col-xs-offset-4 {
  margin-left: 33.33333%;
}

/* line 216, ../compass/sass/_mixins.scss */
.col-xs-offset-5 {
  margin-left: 41.66667%;
}

/* line 216, ../compass/sass/_mixins.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 216, ../compass/sass/_mixins.scss */
.col-xs-offset-7 {
  margin-left: 58.33333%;
}

/* line 216, ../compass/sass/_mixins.scss */
.col-xs-offset-8 {
  margin-left: 66.66667%;
}

/* line 216, ../compass/sass/_mixins.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 216, ../compass/sass/_mixins.scss */
.col-xs-offset-10 {
  margin-left: 83.33333%;
}

/* line 216, ../compass/sass/_mixins.scss */
.col-xs-offset-11 {
  margin-left: 91.66667%;
}

/* line 216, ../compass/sass/_mixins.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 31.25em) {
  /* line 193, ../compass/sass/_mixins.scss */
  .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .block-thumb .b-thumb, .block-thumb .b-text, .main aside .section, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1 {
    float: left;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-sm-1 {
    width: 8.33333%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-sm-2 {
    width: 16.66667%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-sm-4 {
    width: 33.33333%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-sm-5 {
    width: 41.66667%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-sm-6, .block-thumb .b-thumb, .block-thumb .b-text, .main aside .section {
    width: 50%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-sm-7 {
    width: 58.33333%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-sm-8 {
    width: 66.66667%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-sm-10 {
    width: 83.33333%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-sm-11 {
    width: 91.66667%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-sm-pull-0 {
    right: 0%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-sm-pull-1 {
    right: 8.33333%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-sm-pull-2 {
    right: 16.66667%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-sm-pull-4 {
    right: 33.33333%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-sm-pull-5 {
    right: 41.66667%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-sm-pull-7 {
    right: 58.33333%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-sm-pull-8 {
    right: 66.66667%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-sm-pull-10 {
    right: 83.33333%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-sm-pull-11 {
    right: 91.66667%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-sm-push-0 {
    left: 0%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-sm-push-1 {
    left: 8.33333%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-sm-push-2 {
    left: 16.66667%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-sm-push-4 {
    left: 33.33333%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-sm-push-5 {
    left: 41.66667%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-sm-push-7 {
    left: 58.33333%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-sm-push-8 {
    left: 66.66667%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-sm-push-10 {
    left: 83.33333%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-sm-push-11 {
    left: 91.66667%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-sm-offset-0 {
    margin-left: 0%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 50em) {
  /* line 193, ../compass/sass/_mixins.scss */
  .col-md-12, .main aside .section, .col-md-11, .col-md-10, .col-md-9, .main article, .col-md-8, .col-md-7, .home-section .image, .col-md-6, .col-md-5, .col-md-4, .home-section .text, .category-navigation .section-link, footer[role=banner] .section:nth-child(3), .col-md-3, .main aside, footer[role=banner] .section:nth-child(1), footer[role=banner] .section:nth-child(2), .col-md-2, .col-md-1 {
    float: left;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-md-1 {
    width: 8.33333%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-md-2 {
    width: 16.66667%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-md-3, .main aside, footer[role=banner] .section:nth-child(1), footer[role=banner] .section:nth-child(2) {
    width: 25%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-md-4, .home-section .text, .category-navigation .section-link, footer[role=banner] .section:nth-child(3) {
    width: 33.33333%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-md-5 {
    width: 41.66667%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-md-7, .home-section .image {
    width: 58.33333%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-md-8 {
    width: 66.66667%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-md-9, .main article {
    width: 75%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-md-10 {
    width: 83.33333%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-md-11 {
    width: 91.66667%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-md-12, .main aside .section {
    width: 100%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-md-pull-0 {
    right: 0%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-md-pull-1 {
    right: 8.33333%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-md-pull-2 {
    right: 16.66667%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-md-pull-4 {
    right: 33.33333%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-md-pull-5, .home-section:nth-child(2) .image {
    right: 41.66667%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-md-pull-6, footer[role=banner] .section:nth-child(3) {
    right: 50%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-md-pull-7 {
    right: 58.33333%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-md-pull-8 {
    right: 66.66667%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-md-pull-9, .main aside {
    right: 75%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-md-pull-10 {
    right: 83.33333%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-md-pull-11 {
    right: 91.66667%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-md-push-0 {
    left: 0%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-md-push-1 {
    left: 8.33333%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-md-push-2 {
    left: 16.66667%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-md-push-3, .main article {
    left: 25%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-md-push-4 {
    left: 33.33333%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-md-push-5, footer[role=banner] .section:nth-child(1) {
    left: 41.66667%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-md-push-6, footer[role=banner] .section:nth-child(2) {
    left: 50%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-md-push-7 {
    left: 58.33333%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-md-push-8, .home-section:nth-child(2) .text {
    left: 66.66667%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-md-push-10 {
    left: 83.33333%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-md-push-11 {
    left: 91.66667%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-md-offset-0 {
    margin-left: 0%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-md-offset-1, .home-section .image {
    margin-left: 8.33333%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 75em) {
  /* line 193, ../compass/sass/_mixins.scss */
  .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .main article, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .main aside, .col-lg-2, .col-lg-1 {
    float: left;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-lg-1 {
    width: 8.33333%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-lg-2 {
    width: 16.66667%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-lg-3, .main aside {
    width: 25%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-lg-4 {
    width: 33.33333%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-lg-5 {
    width: 41.66667%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-lg-7, .main article {
    width: 58.33333%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-lg-8 {
    width: 66.66667%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-lg-10 {
    width: 83.33333%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-lg-11 {
    width: 91.66667%;
  }

  /* line 201, ../compass/sass/_mixins.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-lg-pull-0 {
    right: 0%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-lg-pull-1 {
    right: 8.33333%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-lg-pull-2 {
    right: 16.66667%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-lg-pull-4 {
    right: 33.33333%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-lg-pull-5 {
    right: 41.66667%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-lg-pull-7, .main aside {
    right: 58.33333%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-lg-pull-8 {
    right: 66.66667%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-lg-pull-10 {
    right: 83.33333%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-lg-pull-11 {
    right: 91.66667%;
  }

  /* line 211, ../compass/sass/_mixins.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-lg-push-0 {
    left: 0%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-lg-push-1 {
    left: 8.33333%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-lg-push-2 {
    left: 16.66667%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-lg-push-4, .main article {
    left: 33.33333%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-lg-push-5 {
    left: 41.66667%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-lg-push-7 {
    left: 58.33333%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-lg-push-8 {
    left: 66.66667%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-lg-push-10 {
    left: 83.33333%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-lg-push-11 {
    left: 91.66667%;
  }

  /* line 206, ../compass/sass/_mixins.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-lg-offset-0 {
    margin-left: 0%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 216, ../compass/sass/_mixins.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
/* line 1, ../compass/sass/_forms.scss */
input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="number"],
textarea, input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 50em;
  font-family: "jaf-facitweb-1", "jaf-facitweb-2", "Trebuchet MS", sans-serif;
  font-size: 0.8em;
  padding: 0.5em;
  background: whitesmoke;
  border: 1px solid #e1e1e1;
}
/* line 11, ../compass/sass/_forms.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
textarea:focus, input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus, input[type="text"]:active,
input[type="password"]:active,
input[type="url"]:active,
input[type="email"]:active,
input[type="search"]:active,
input[type="number"]:active,
textarea:active, input[type="range"]:active,
input[type="date"]:active,
input[type="month"]:active,
input[type="week"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active {
  -moz-box-shadow: 0 0 0.5em #e1e1e1;
  -webkit-box-shadow: 0 0 0.5em #e1e1e1;
  box-shadow: 0 0 0.5em #e1e1e1;
  background: white;
  border: 1px solid #7d7d7d;
  outline: none;
}
@media (max-width: 31.25em) {
  /* line 1, ../compass/sass/_forms.scss */
  input[type="text"],
  input[type="password"],
  input[type="url"],
  input[type="email"],
  input[type="search"],
  input[type="number"],
  textarea, input[type="range"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="datetime"],
  input[type="datetime-local"] {
    font-size: 16px;
  }
}

/* line 20, ../compass/sass/_forms.scss */
input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="number"],
textarea {
  -webkit-appearance: none;
}

/* line 40, ../compass/sass/_forms.scss */
textarea {
  resize: vertical;
}

/* line 42, ../compass/sass/_forms.scss */
select {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 50em;
}

/* line 49, ../compass/sass/_forms.scss */
label {
  color: #7d7d7d;
  cursor: pointer;
}
/* line 52, ../compass/sass/_forms.scss */
label.error {
  color: #b5554c;
}
/* line 53, ../compass/sass/_forms.scss */
label.valid {
  color: #82b2a4;
}

/* line 56, ../compass/sass/_forms.scss */
input.is-error {
  border: 1px solid #b5554c;
}

/* line 57, ../compass/sass/_forms.scss */
input.is-valid {
  border: 1px solid #82b2a4;
}

/* line 59, ../compass/sass/_forms.scss */
.field-container {
  margin-bottom: 1em;
}
/* line 6, ../compass/sass/_mixins.scss */
.field-container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 62, ../compass/sass/_forms.scss */
.field-container label {
  display: block;
  margin-bottom: 0.5em;
}
/* line 66, ../compass/sass/_forms.scss */
.field-container label abbr {
  color: #b5554c;
  border-bottom: 0;
}
@media (min-width: 31.25em) {
  /* line 70, ../compass/sass/_forms.scss */
  .field-container.inline input {
    display: inline;
    width: auto;
    margin-right: 1em;
  }
}

/* line 82, ../compass/sass/_forms.scss */
.options legend abbr {
  color: #b5554c;
  border-bottom: 0;
}
/* line 84, ../compass/sass/_forms.scss */
.options li {
  padding: 0.5em 0 0;
}

/* line 90, ../compass/sass/_forms.scss */
.search-field {
  position: relative;
}
/* line 92, ../compass/sass/_forms.scss */
.search-field #search-field {
  padding-left: 1.75em;
}
/* line 95, ../compass/sass/_forms.scss */
.search-field #search-field:focus + .search-icon, .search-field #search-field:active + .search-icon {
  color: #e1e1e1;
}
/* line 98, ../compass/sass/_forms.scss */
.search-field .search-icon {
  position: absolute;
  left: 0.5em;
  top: 0.75em;
  color: #7d7d7d;
}
@media (min-width: 31.25em) {
  /* line 98, ../compass/sass/_forms.scss */
  .search-field .search-icon {
    top: 0.525em;
  }
}

/* line 2, ../compass/sass/_objects.scss */
table {
  width: 100%;
  font-size: 0.8em;
}
/* line 5, ../compass/sass/_objects.scss */
table thead {
  background: #5b4472;
  color: white;
}
/* line 8, ../compass/sass/_objects.scss */
table thead th {
  border-right: 1px dotted #916caf;
}
/* line 10, ../compass/sass/_objects.scss */
table thead th:last-child {
  border-right: none;
}
/* line 13, ../compass/sass/_objects.scss */
table tfoot {
  background: white;
  border-top: 1px solid #e1e1e1;
}
/* line 17, ../compass/sass/_objects.scss */
table tr:nth-child(even) {
  background: whitesmoke;
}
/* line 20, ../compass/sass/_objects.scss */
table td, table th {
  padding: 1em 1%;
  text-align: left;
}

/* line 27, ../compass/sass/_objects.scss */
.btn {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #ffa300;
  line-height: 1;
  padding: 1em 1.5em;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
/* line 37, ../compass/sass/_objects.scss */
.btn:hover {
  background: #5b4472;
  color: white;
}
/* line 41, ../compass/sass/_objects.scss */
.btn.alt {
  background: #5b4472;
}
/* line 43, ../compass/sass/_objects.scss */
.btn.alt:hover {
  background: #916caf;
}
/* line 45, ../compass/sass/_objects.scss */
.btn.alt-2 {
  background: #82b2a4;
}
/* line 47, ../compass/sass/_objects.scss */
.btn.alt-2:hover {
  background: #e0695e;
}
/* line 49, ../compass/sass/_objects.scss */
.btn.disabled {
  background: #e1e1e1;
  cursor: not-allowed;
}
/* line 53, ../compass/sass/_objects.scss */
.btn.inline {
  font-size: 0.8em;
}
/* line 56, ../compass/sass/_objects.scss */
.field-container .btn {
  display: block;
  margin: 0.5em auto;
}
@media (min-width: 31.25em) {
  /* line 56, ../compass/sass/_objects.scss */
  .field-container .btn {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
}

/* line 65, ../compass/sass/_objects.scss */
.text-btn {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: whitesmoke;
  color: #5b4472;
  padding: 0 0.5em;
  text-transform: uppercase;
  font-size: 0.8em;
}
/* line 74, ../compass/sass/_objects.scss */
.text-btn:hover {
  color: white;
  background: #5b4472;
}

/* line 81, ../compass/sass/_objects.scss */
.vcard {
  line-height: 1.5em;
}
/* line 83, ../compass/sass/_objects.scss */
.vcard .org {
  font-weight: bold;
}
/* line 85, ../compass/sass/_objects.scss */
.vcard .adr .region {
  border-bottom: 0;
}

/* line 93, ../compass/sass/_objects.scss */
.block-thumb {
  max-width: 50em;
}
/* line 104, ../compass/sass/_objects.scss */
.block-thumb .b-inner p {
  color: #222222;
}

/* line 108, ../compass/sass/_objects.scss */
.block-hero {
  position: relative;
}
@media (min-width: 31.25em) {
  /* line 110, ../compass/sass/_objects.scss */
  .block-hero .b-text {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1em;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #222222);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), #222222);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #222222);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #222222);
  }
}
/* line 125, ../compass/sass/_objects.scss */
.block-hero .b-text .headline {
  font-size: 1em;
}
@media (min-width: 31.25em) {
  /* line 125, ../compass/sass/_objects.scss */
  .block-hero .b-text .headline {
    font-size: 1.2em;
    color: white;
    text-shadow: 0.15em 0.15em 0.15em #222222;
  }
}
/* line 132, ../compass/sass/_objects.scss */
.block-hero .b-text .headline:hover {
  color: #ffa300;
}

/* line 138, ../compass/sass/_objects.scss */
.block-inset {
  position: relative;
}
/* line 140, ../compass/sass/_objects.scss */
.block-inset .b-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1em;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #222222);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), #222222);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #222222);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #222222);
}
/* line 147, ../compass/sass/_objects.scss */
.block-inset .b-text .headline {
  font-size: 1em;
  color: white;
  text-shadow: 0.15em 0.15em 0.15em #222222;
}
@media (min-width: 31.25em) {
  /* line 147, ../compass/sass/_objects.scss */
  .block-inset .b-text .headline {
    font-size: 1.2em;
  }
}
/* line 154, ../compass/sass/_objects.scss */
.block-inset .b-text .headline:hover {
  color: #ffa300;
}

/* line 160, ../compass/sass/_objects.scss */
figure {
  background: whitesmoke;
  padding: 1em;
  max-width: 50em;
  margin-bottom: 1em;
}
/* line 165, ../compass/sass/_objects.scss */
figure figcaption {
  padding: 1em 1em 0;
  line-height: 1.6em;
}

/* line 172, ../compass/sass/_objects.scss */
.news-teaser {
  font-size: 0.9em;
}
/* line 175, ../compass/sass/_objects.scss */
.news-teaser h4, .news-teaser p {
  color: #7d7d7d;
}
/* line 178, ../compass/sass/_objects.scss */
.news-teaser:hover h4, .news-teaser:hover p {
  color: #5b4472;
}
/* line 180, ../compass/sass/_objects.scss */
.news-teaser:last-child {
  border: 0;
}

/* line 1, ../compass/sass/_navigation.scss */
header[role="banner"] {
  margin: 0;
  padding: 0;
  background: white;
  position: relative;
  width: 100%;
  z-index: 400;
  border-bottom: 1px solid #e1e1e1;
}
/* line 9, ../compass/sass/_navigation.scss */
header[role="banner"] li {
  text-align: center;
  font-family: "sorts-mill-goudy-1", "sorts-mill-goudy-2", "Garamond", serif;
  font-weight: bold;
  padding: 1em 0.5em;
  display: block;
  text-transform: uppercase;
}
/* line 16, ../compass/sass/_navigation.scss */
header[role="banner"] li a, header[role="banner"] li .vcard .tel, .vcard header[role="banner"] li .tel {
  color: #222222;
}
/* line 18, ../compass/sass/_navigation.scss */
header[role="banner"] li a:hover, header[role="banner"] li .vcard .tel:hover, .vcard header[role="banner"] li .tel:hover {
  color: #5b4472;
}
/* line 23, ../compass/sass/_navigation.scss */
.js header[role="banner"] .nav li:nth-child(1) {
  text-align: left;
}
/* line 26, ../compass/sass/_navigation.scss */
.js header[role="banner"] .nav .hidden {
  display: none;
}
@media (min-width: 50em) {
  /* line 26, ../compass/sass/_navigation.scss */
  .js header[role="banner"] .nav .hidden {
    display: block;
  }
}
/* line 31, ../compass/sass/_navigation.scss */
.js header[role="banner"] .nav-button {
  position: fixed;
  top: 1em;
  right: 5%;
  padding: 0.75em 1.25em;
  z-index: 200;
}
@media (min-width: 50em) {
  /* line 31, ../compass/sass/_navigation.scss */
  .js header[role="banner"] .nav-button {
    display: none;
  }
}
@media (min-width: 50em) {
  /* line 1, ../compass/sass/_navigation.scss */
  header[role="banner"] {
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  /* line 40, ../compass/sass/_navigation.scss */
  header[role="banner"] .nav {
    display: flex;
    align-items: stretch;
  }
  /* line 43, ../compass/sass/_navigation.scss */
  header[role="banner"] .nav li {
    padding: 1em 0;
    display: inline-block;
    margin: auto;
  }
  /* line 47, ../compass/sass/_navigation.scss */
  header[role="banner"] .nav li:nth-child(1) {
    margin-left: 0;
  }
  /* line 48, ../compass/sass/_navigation.scss */
  header[role="banner"] .nav li:nth-child(5) {
    margin-right: 0;
  }
  /* line 52, ../compass/sass/_navigation.scss */
  header[role="banner"].fixed {
    font-size: 80%;
    position: fixed;
  }
  /* line 55, ../compass/sass/_navigation.scss */
  header[role="banner"].fixed .logo img {
    height: 40px;
  }
}
@media (min-width: 75em) {
  /* line 60, ../compass/sass/_navigation.scss */
  header[role="banner"] .nav li {
    align-self: center;
  }
  /* line 62, ../compass/sass/_navigation.scss */
  header[role="banner"] .nav li:nth-child(1) {
    margin-left: auto;
    order: 2;
  }
  /* line 66, ../compass/sass/_navigation.scss */
  header[role="banner"] .nav li:nth-child(2) {
    order: 0;
    margin-left: 0;
  }
  /* line 70, ../compass/sass/_navigation.scss */
  header[role="banner"] .nav li:nth-child(3) {
    order: 1;
  }
  /* line 73, ../compass/sass/_navigation.scss */
  header[role="banner"] .nav li:nth-child(4) {
    order: 3;
  }
  /* line 76, ../compass/sass/_navigation.scss */
  header[role="banner"] .nav li:nth-child(5) {
    order: 4;
  }
}

/* line 87, ../compass/sass/_navigation.scss */
.breadcrumbs li {
  display: inline;
}
/* line 90, ../compass/sass/_navigation.scss */
.breadcrumbs li a, .breadcrumbs li .vcard .tel, .vcard .breadcrumbs li .tel {
  color: #7d7d7d;
}
/* line 92, ../compass/sass/_navigation.scss */
.breadcrumbs li a:hover, .breadcrumbs li .vcard .tel:hover, .vcard .breadcrumbs li .tel:hover {
  color: #ffa300;
}
/* line 94, ../compass/sass/_navigation.scss */
.breadcrumbs li:before {
  content: ">";
  color: #7d7d7d;
  margin: 0 0.5em;
}
/* line 100, ../compass/sass/_navigation.scss */
.breadcrumbs li:nth-child(1):before {
  content: "";
  margin: 0;
}
/* line 106, ../compass/sass/_navigation.scss */
.breadcrumbs li:last-child a, .breadcrumbs li:last-child .vcard .tel, .vcard .breadcrumbs li:last-child .tel {
  color: #5b4472;
}

/* line 12, ../compass/sass/style.scss */
body {
  background: whitesmoke;
  font-family: "jaf-facitweb-1", "jaf-facitweb-2", "Trebuchet MS", sans-serif;
  color: #222222;
}

/* line 18, ../compass/sass/style.scss */
.hero-wrapper {
  background-image: -moz-linear-gradient(#ffffff, #f5f5f5);
  background-image: -o-linear-gradient(#ffffff, #f5f5f5);
  background-image: -webkit-linear-gradient(#ffffff, #f5f5f5);
  background-image: linear-gradient(#ffffff, #f5f5f5);
}

/* line 22, ../compass/sass/style.scss */
.home-hero {
  background: white;
  position: relative;
  max-height: 716px;
  overflow: hidden;
}
/* line 27, ../compass/sass/style.scss */
.home-hero video {
  width: 100%;
  opacity: 0.8;
}
/* line 31, ../compass/sass/style.scss */
.home-hero .big-background {
  background: #222222;
  position: relative;
  margin-bottom: -0.25em;
}
/* line 36, ../compass/sass/style.scss */
.home-hero h1 {
  position: absolute;
  width: 33%;
  top: 50%;
  left: 50%;
  z-index: 100;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 46, ../compass/sass/style.scss */
.home-intro {
  padding: 2em 0 1em;
}
/* line 48, ../compass/sass/style.scss */
.home-intro p {
  font-family: "sorts-mill-goudy-1", "sorts-mill-goudy-2", "Garamond", serif;
  font-size: 1.5em;
  line-height: 1.6em;
}
@media (min-width: 50em) {
  /* line 46, ../compass/sass/style.scss */
  .home-intro {
    font-size: 1.25em;
  }
  /* line 55, ../compass/sass/style.scss */
  .home-intro .container-fluid {
    max-width: 685px;
    width: 66%;
  }
}
@media (min-width: 75em) {
  /* line 46, ../compass/sass/style.scss */
  .home-intro {
    font-size: 1.5em;
  }
}

/* line 65, ../compass/sass/style.scss */
.home-section {
  position: relative;
  margin: 6em 0;
}
@media (min-width: 75em) {
  /* line 65, ../compass/sass/style.scss */
  .home-section {
    margin: 12em 0;
  }
}
/* line 72, ../compass/sass/style.scss */
.home-section h2 {
  margin-bottom: 0;
}
/* line 73, ../compass/sass/style.scss */
.home-section hr, .home-section .news-teaser {
  margin-bottom: 1em;
}
/* line 74, ../compass/sass/style.scss */
.home-section .symbol {
  position: absolute;
}
/* line 76, ../compass/sass/style.scss */
.home-section .symbol img {
  width: 100%;
}
/* line 86, ../compass/sass/style.scss */
.home-section:nth-child(1) .symbol {
  top: -4em;
  left: -3em;
  width: 40%;
}
@media (min-width: 50em) {
  /* line 86, ../compass/sass/style.scss */
  .home-section:nth-child(1) .symbol {
    width: 40%;
    top: -6em;
    left: -7em;
  }
}
@media (min-width: 75em) {
  /* line 86, ../compass/sass/style.scss */
  .home-section:nth-child(1) .symbol {
    width: 40%;
    top: -12em;
    left: -9em;
  }
}
/* line 100, ../compass/sass/style.scss */
.home-section:nth-child(2) .symbol {
  width: 50%;
  top: -4em;
  right: 0;
}
@media (min-width: 50em) {
  /* line 100, ../compass/sass/style.scss */
  .home-section:nth-child(2) .symbol {
    width: 40%;
    top: -12em;
  }
}
@media (min-width: 70em) {
  /* line 100, ../compass/sass/style.scss */
  .home-section:nth-child(2) .symbol {
    top: -8em;
  }
}
@media (min-width: 75em) {
  /* line 100, ../compass/sass/style.scss */
  .home-section:nth-child(2) .symbol {
    top: -11em;
  }
}
/* line 126, ../compass/sass/style.scss */
.home-section:nth-child(3) .symbol {
  width: 70%;
  top: -3em;
}
@media (min-width: 50em) {
  /* line 126, ../compass/sass/style.scss */
  .home-section:nth-child(3) .symbol {
    width: 50%;
    left: -2%;
    top: -6em;
  }
}

/* line 139, ../compass/sass/style.scss */
.main article {
  background: white;
  padding: 2em 0 0;
}
/* line 146, ../compass/sass/style.scss */
.main article .content {
  padding: 0 2em;
}
/* line 147, ../compass/sass/style.scss */
.main article .feature {
  width: 100%;
}
/* line 150, ../compass/sass/style.scss */
.main article .lede,
.main article .content > p:first-of-type {
  font-family: "sorts-mill-goudy-1", "sorts-mill-goudy-2", "Garamond", serif;
  font-size: 1.8em;
  line-height: 1.4em;
}
/* line 155, ../compass/sass/style.scss */
.main article footer {
  background-image: -moz-linear-gradient(#ffffff, #f5f5f5);
  background-image: -o-linear-gradient(#ffffff, #f5f5f5);
  background-image: -webkit-linear-gradient(#ffffff, #f5f5f5);
  background-image: linear-gradient(#ffffff, #f5f5f5);
  padding: 2em;
  color: #7d7d7d;
}
@media (min-width: 50em) {
  /* line 155, ../compass/sass/style.scss */
  .main article footer {
    padding: 2em 2em 6em;
  }
}
@media (min-width: 50em) {
  /* line 162, ../compass/sass/style.scss */
  .main aside {
    padding-top: 4em;
  }
}
/* line 168, ../compass/sass/style.scss */
.main aside .section {
  padding: 0.25em 1em;
  font-size: 0.7em;
  margin-bottom: 1em;
}
/* line 175, ../compass/sass/style.scss */
.main aside .section h3, .main aside .section h4 {
  border-bottom: 1px solid #e1e1e1;
}
/* line 176, ../compass/sass/style.scss */
.main aside .section .btn {
  padding: 0.5em 1.5em;
}
/* line 177, ../compass/sass/style.scss */
.main aside .section.navigation {
  background: white;
}
@media (min-width: 50em) {
  /* line 168, ../compass/sass/style.scss */
  .main aside .section {
    margin-bottom: 4em;
  }
}

/* line 186, ../compass/sass/style.scss */
.category-navigation {
  margin-bottom: 2em;
}
/* line 189, ../compass/sass/style.scss */
.category-navigation .section-link {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: whitesmoke;
  border: 1px solid white;
  font-size: 0.8em;
  padding-bottom: 1em;
}
/* line 195, ../compass/sass/style.scss */
.category-navigation .section-link:hover {
  background: white;
}
@media (min-width: 50em) {
  /* line 197, ../compass/sass/style.scss */
  .category-navigation .section-link:nth-child(3n), .category-navigation .section-link:last-child {
    border-right: 1px solid white;
  }
}
/* line 202, ../compass/sass/style.scss */
.category-navigation .section-link .btn {
  padding: 0.5em 1em;
}

/* line 206, ../compass/sass/style.scss */
footer[role=banner] {
  background: white;
  border-top: 1px solid #e1e1e1;
  padding-bottom: 4em;
}
@media (min-width: 50em) {
  /* line 206, ../compass/sass/style.scss */
  footer[role=banner] {
    background: url(../images/bg-footer.png) top center repeat-y;
    background-size: contain;
  }
}
/* line 217, ../compass/sass/style.scss */
footer[role=banner] .section {
  font-size: 0.8em;
  padding-top: 3em;
}
/* line 234, ../compass/sass/style.scss */
footer[role=banner] .section h3 {
  font-size: 2em;
  display: flex;
  align-items: center;
  color: #222222;
}
/* line 239, ../compass/sass/style.scss */
footer[role=banner] .section h3 img {
  margin-right: 0.5em;
}
@media (min-width: 85.625em) {
  /* line 234, ../compass/sass/style.scss */
  footer[role=banner] .section h3 {
    -moz-transform: translate(-3em, 0);
    -ms-transform: translate(-3em, 0);
    -o-transform: translate(-3em, 0);
    -webkit-transform: translate(-3em, 0);
    transform: translate(-3em, 0);
  }
}
